
# Host settings

hosts = [
]

# LDAP settings

ldap_host = ['']
ldap_user_search_base = ''
ldap_group_search_base= ''
ldap_manager_dn = ''
ldap_manager_password = ''

# Kerberos settings

kerberos_host = []
kerberos_realm = ''
kerberos_admin_principal = ''
hdfs_principal = ''
hive_principal = ''
hbase_principal = ''

# Ambari settings

ambari_url = ''

# Mail settings

mail_host = ''
mail_port = 25
mail_from = ''
mail_user = ''
mail_password = ''

# Cluster settings

master_host = ['']

# Ranger settings

ranger_host = ['']
ranger_url = ''
ranger_user = ''
ranger_password = ''
ranger_cluster_name = ''


# Hive settings

hive_url = ''
hive_beeline_principal = ''

# Nifi settings
nifi_ranger_flow_policy_id = ''
